<!DOCTYPE html>
<html>
<head>
  <title>TechBlog</title>
  <style src="assets/stylesheets/article_show.css"></style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:admin] %>
<p>admin <%= link_to "sign out", admin_destroy_path, method: :delete %></p>
<% end %>

<ul>
<li><%= link_to "About", pages_about_path %></li>
<li><%= link_to "Email", new_message_path %></li>
<li><%= link_to "articles", articles_path %></li>
</ul>

<%= yield %>

</body>
</html>
